.header {
    position: sticky;
    z-index: 5;
    background-color: var(--header-color);
    top: 0;
    border-bottom: 1px solid var(--border-color)
}

.header>nav {
    padding: .8rem 1.4rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}

.logo {
    margin-right: 1.5rem;
    flex-shrink: 0;
    align-items: center;
    display: flex;
    margin-right: .8rem;
}

.logo>span {
    letter-spacing: -0.025em;
    font-size: 1.25rem;
    font-weight: 600;
}

.header .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 1 24rem;
    min-width: 0px;
    height: 1.8rem;
    border: 1px;
    border-color: var(--border-color);
    border-style: solid;
    border-radius: 0.25rem;
}

.search>input {
    height: 100%;
    width: 100%;
    border: none;
    padding: 0rem .5rem;
}

.search>input:focus {
    outline: none;
    border: 1px solid var(--outline-color);
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.search>button {
    height: 100%;
    cursor: pointer;
    padding: 0rem 1rem;
    border: none;
    background-color: var(--button-background-color);
}

.search>button:focus, .search>button:hover {
    outline: none;
    border: 1px solid var(--outline-color);
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

@media (max-width: 640px) {
    .header .search {
        margin-top: 1rem;
        flex: 0 1 30rem;
    }
}