body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --header-color: rgba(255, 255, 255, 1);
  --border-color: #dcdcdc;
  --border-input-color: rgba(155, 154, 154, 0.47);
}